/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Estilo do cabeçalho e navegação */
/* Estilo geral do header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff;
    padding: 15px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Estilo da logo */
header .logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

header .logo span {
    color: #ff001e; /* Destaque na cor dourada para o ponto */
}

/* Estilo da navegação */
header nav {
    display: flex;
    align-items: center;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 24px; /* Espaçamento entre os links */
}

header nav ul li {
    margin: 0;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    transition: color 0.3s, border-bottom 0.3s;
    border-bottom: 2px solid transparent; /* Efeito hover */
}

header nav ul li a:hover {
    color: #ffd700;
    border-bottom: 2px solid #ffd700;
    font-size: 1.1rem; /* Aumenta o tamanho do texto */
    letter-spacing: 2px;
}

/* Estilo para destaque */
header nav ul li a.link-destaque {
    color: white;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    header {
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px;
    }

    header nav ul {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    header .logo {
        margin-bottom: 10px;
    }
}

/* Estilo do título */
h1 {
    text-align: center;
    margin-top: 20px;
    color: #007bff;
}

/* Estilo dos fieldsets */
fieldset {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

legend {
    font-weight: bold;
    color: #007bff;
}

/* Estilo dos formulários */
form input[type="text"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Rodapé */
footer {
    text-align: center;
    padding: 10px;
    background-color: #007bff;
    color: white;
    margin-top: 20px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}
